html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

.body{
    background-color: rgb(28, 28, 28);
    background-image: url(/src/assets/images/diagonal-noise.png);
}



.container {
    padding: 5rem 0 5rem;
    width: 85%;
    margin: 0 auto;
    max-width: 1300px;
    perspective: 1000px;
}

.character-gallery{

    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

h1, h2{
    color: yellowgreen;
    text-align: center;
}