.welcome {
    background-image: url(../assets/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: larger;
}

.welcome__logo {
    width: 40rem;
}

.welcome__btn {
    background: #e74c3c;
    border: white 1px solid;
    color: #fff;
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    font-weight: 700;
    font-size: x-large;
}
